body {
    background-color: #f8f8f8;
    padding: 0 0 15px 0;
}

body main {
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: .5px 10px 15px rgba(0, 0, 0, .2);
    margin: 65px 0px 65px 0px;
    padding: 25px;
}

body .btn {
    margin: 5px;
}

#top h2 {
    font-weight: 900;
    margin-bottom: 30px;
}

.input-group-append {
  cursor: pointer;
}